body 
{
	margin: 0;
	//background-color: yellow;
	background-color: #ececec;
	padding : 0;
	width: 350px;
	font-family: "verdana";
	
	a 
	{
		font-style: normal;
		text-decoration: none;
		color: black;
		vertical-align: middle;
		margin-top: auto;
		margin-bottom: auto;
		&:hover
		{
			opacity: 0.5;
		}
	}

	.groupe
	{
		&.fixe
		{
			padding: 0 !important;;
		}
		&:not(.fixe)
		{
		
			background-color: #e0e0e0;
			position: absolute;
			left:100px;
			padding : 5px;

			> div.ligne.level2
			{
				padding-left : 5px;
			}
			&:not(.visible)
			{
				display:none;
			}
		}
	}


	.references, .lastpage, .savedpages
	{
		width: 100%;
		margin: 0;
		padding : 0;
		
		.ligne
		{
			font-style: normal;
			font-size: 14px;
			font-weight: bold;
			padding: 5px;
			color: black;
			cursor: pointer;
			
			
			
			&.level1
			{
				display: flex;
				flex-direction: row;
				height: 22px;

				> a, svg {
					margin-right: 10px;
				}

				> svg
				{
					width: 22px;
					height: 22px;

					&.arrow
					{
						padding-top: 1px;
						width: 12px;
						height: 21px;
					}

					&:not(.arrow):hover {
						box-shadow: 1px 1px 12px #555;
					}
				}

				&:not(:hover)
				{
					> svg:not(.arrow)
					{
						display:none;
					}
				}

			}
			
			&.level2
			{
				padding-left : 20;
				font-size: 12px;
			}
		}
	}

	.subtitle
	{
		display: flex;
		flex-direction: row;
		border-top: black 1px solid;

		> svg {
			width: 40;
			height: 40;
		}

		> span
		{
			line-height: 40px;
			font-weight: bolder;
			font-size: large;
		}
	}

	.title
	{
		background-color: #ececec;
		display: flex;
		flex-direction: row;
		//border-top: black 1px solid;

		

		> span
		{
			> svg {
				height: 60px;
				padding-right: 30px;
			}
			line-height: 30px;
			display:flex;
			font-weight: bolder;
			font-size: 20;
			width:100%;
			padding-right: 75px;
			text-align: center;
		}
	}
	
	.options
	{
		text-align: right;
		font-size: 10px;
		text-decoration: underline;
		
		> a
		{
			&:hover
			{
				opacity: 0.7;
			}
		}
	}
}





